<nav>
    <p>
        <img src="../../../assets/pingo.png" width="50px"> Pingo Manager
    </p>
    <ul>
        <li>
            <a routerLink="/Home">Home</a>
        </li>
        <li>
            Managers
            <ul>
                <li><a routerLink="/Managers"> View Managers </a></li>
                <li><a routerLink="/Add-Manager"> Add Manager </a></li>
            </ul>
        </li>
        <li>
            Employees
            <ul>
                <li><a routerLink="/Employee"> View Employees </a></li>
                <li><a routerLink="/Add-Employee"> Add Employee </a></li>
            </ul>
        </li>
    </ul>
</nav>