/* You can add global styles to this file, and also import other style files */

:root {
    --primare-color: #00eea7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #222;
    color: #fff;
}